# Ambiente virtual
.venv/
venv/
env/

# Node utils
node_modules/

# Arquivos Python compilados
__pycache__/
*.py[cod]
*.pyo

# Banco de dados local (SQLite)
db.sqlite3

# Arquivos temporários
*.log
*.pot
*.pyc
*.pyd
*.so
*.egg-info/
*.egg

# Configurações locais
.env

# Cache do Django
media/
staticfiles/
# IDEs / editores
.vscode/
.idea/
*.swp

.env