{% extends 'layouts/login.html' %}

{% block title %}
Recuperar Conta
{% endblock %}

{% block content %}
{% if messages %}
<div class="mt-4 text-center">
    {% for message in messages %}
    <div class="bg-green-100 border border-green-400 text-green-700 px-4 py-3 rounded mb-2">
        {{ message }}
    </div>
    {% endfor %}
</div>
<button onclick="voltar()" type="button"
    class="text-white bg-cyan-900 hover:bg-cyan-950 focus:ring-4 focus:outline-none font-medium rounded-lg text-base w-full px-6 py-3 text-center light:bg-blue-600 light:hover:bg-blue-700 light:focus:ring-blue-800 cursor-pointer">
    Voltar
</button>
<script>
    const voltar = () => {
        window.location.href = "{% url 'login' %}";
    }
</script>
{% else %}
<form class="flex flex-col gap-4 w-full" method="POST">
    {% csrf_token %}
    <div class="mb-6 w-full">
        <label for="usuario" class="block mb-2 text-base font-medium text-gray-900 light:text-white">Email</label>
        <input type="email" name="email" id="email"
            class="bg-gray-50 border border-gray-300 text-gray-900 text-base rounded-lg focus:ring-cyan-900 focus:border-cyan-900 block w-full p-3 light:bg-gray-700 light:border-gray-600 light:placeholder-gray-400 light:text-white light:focus:ring-blue-500 light:focus:border-blue-500"
            required placeholder="Informe o email da sua conta" />
    </div>
    <button type="submit"
        class="text-white bg-cyan-900 hover:bg-cyan-950 focus:ring-4 focus:outline-none font-medium rounded-lg text-base w-full px-6 py-3 text-center light:bg-blue-600 light:hover:bg-blue-700 light:focus:ring-blue-800 cursor-pointer">
        Confirmar
    </button>
</form>
{% endif %}
{% endblock %}